<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Введите имя пользователя.</p>

<form class="login-form" id="login-form">
    <div>
        <label for="input-username">Имя</label>
        <div>
            <input name="username" value="name" type="text" id="input-username" placeholder="Имя">
        </div>
    </div>
    <div>
        <div>
            <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Войти</button>
        </div>
    </div>
</form>

<script>
    document.getElementById('login-form').onclick =  () => {
        fetch('/login', {
            method: 'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: document.getElementsByTagName('input')[0].value
            })
        })
            .then(() => window.location.href = "/room" )
            .catch(alert);
    }
</script>
</body>
</html>
