<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/socket.io-client/dist/socket.io.js"></script>
</head>
<body>
<div id="room">
    <div>
        <input id="login_data" style="width:200px;"/>
        <input type="button" id="login_button" value="Войти в комнату"/>
    </div>
    <div >
        <input id="create_data" style="width:200px;"/>
        <input type="button" id="create_button" value="Создать комнату"/>
    </div>
</div>

<script>

    const socket = io.connect();

    socket.open();

    document.getElementById('login_button').onclick = () => socket.emit('login room', document.getElementById('login_data').value);
    document.getElementById('create_button').onclick = () => socket.emit('create room', document.getElementById('create_data').value);


    socket
        .on('room not found', () => alert('room not found'))
        .on('room already exist', () => alert('room already exist'));
</script>
</body>
</html>