.layout.hide {
    display: none;
}

.layout {
    flex-grow: 1;
    align-self: stretch;
    position: relative;
    display: flex;
    background: lightgreen;
}

.layoutCell {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    background: coral;
}

.line {
    cursor: pointer;
}

.tapeLine {
    background: #87ceeb;
}

.cellLine {
    background: black;
}

.external {
    position: absolute;
}

.top {
}

.bot {
}

.left {
    height: 100%;
    top: 0%;
}

.right {
    height: 100%;
    top: 0%;
}

.tape {
    background: #4f1022;
}

.cell {
    background: ghostwhite;
    overflow: hidden;
}

/* viewer */

.layout .cell canvas {
    width: 100% !important; /* ugly hack: virtual screen width growing */

    display: block;
}
