body {
    background: #191970;
}

.layout {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    position: absolute;
    display: flex;
    background: lightgreen;
}

.layoutCell {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    background: coral;
}

.line {
    position: absolute;
    background: #87ceeb;
    cursor: pointer;
}

.internalLine {
    background: #87ceeb;
    cursor: pointer;
}

.cellLine {
    position: absolute;
    background: black;
    cursor: pointer;
}

.internalCellLine {
    background: black;
    cursor: pointer;
}

.top {
}

.bot {
}

.left {
    height: 100%;
    top: 0%;
}

.right {
    height: 100%;
    top: 0%;
}

.tape {
    background: #4f1022;
}

.cell {
    background: ghostwhite;
}