<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>ingipro.com practice 2017</title>

    <!-- including styles for popup block -->
    <link rel="stylesheet" href="../components/popup/style.css">

</head>
<body>
    <div class="login">
        <!-- login markup -->
    </div>
    <div class="users">
        <!-- users markup -->

        <!-- popup block with status of 3d part control acquiring -->
        <div id="popup">
        </div>

    </div>
    <div class="layout">
        <!-- layout markup -->
    </div>
</body>
</html>
