<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>ingipro.com practice 2017</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="login hide">
        <form>
          <h2>Введите логин!</h2>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control js-input">
            <span class="input-group-btn">
              <button class="btn btn-default js-button" type="button">Подключиться</button>
            </span>
          </div>
        </form>
    </div>
    <div class="wrapper hide">
        <div class="sidebar">
            <!-- popup block with status of 3d part control acquiring -->
            <div class="popup hide">
                <div class="popup-locker popup-control-lock-status">
                    <p class="popup-label"></p>
                </div>
                <div class="popup-locker active-locker">
                    <p class="popup-label"></p>
                </div>
            </div>
            <div class="users hide">
                <!-- users markup -->
            </div>
            <div class="chat hide">
                <div class="chat-message"></div>
                <form>
                    <input type="text" class="chat-input">
                    <input type="submit" value="➤" class="chat-submit">
                </form>
            </div>
        </div>
        <div class="layout hide"></div>
    </div>

	<script src="http://cdn.voximplant.com/edge/voximplant.min.js"></script>
</body>
</html>
